<!DOCTYPE html>
<html lang="de">
    <head>
        <title>It's Fabian</title>
        <module href="/components/head.html"></module>
        <script src="https://unpkg.com/feather-icons"></script>
    </head>

    <body>
        <div class="flex-container">
            <div>
                <h1>
                    It's Fabian
                </h1>
            </div>
            <div class="social-button">
                <i data-feather="globe"></i>
                <a href="https://blog.mugenbatscha.me" target="_blank">Blog</a>
            </div>
            <div class="social-button">
                <i data-feather="instagram"></i>
                <a href="https://www.instagram.com/mugenbatscha/" target="_blank">Instagram</a>
            </div>
            <div class="social-button">
                <i data-feather="twitter"></i>
                <a href="https://twitter.com/mugenbatscha" target="_blank">Twitter</a>
            </div>
            <div class="social-button">
                <i data-feather="github"></i>
                <a href="https://github.com/lauwarm" target="_blank">Github</a>
            </div>
            <div class="social-button">
                <i data-feather="twitch"></i>
                <a href="https://www.twitch.tv/mugenbatscha" target="_blank">Twitch</a>
            </div>
        </div>

        <script src="bundle.js"></script>

        <script>
            feather.replace()
        </script>

    </body>
</html>