<!DOCTYPE html>
<html lang="de">
    <head>
        <title>It's Fabian</title>
        <module href="/components/head.html"></module>
        <script src="https://unpkg.com/feather-icons"></script>
    </head>

    <body>
        <div class="flex-container">
            <div class="title">
                <h1>
                    It's Fabian
                </h1>
            </div>
            <div class="social">
                <div class="social-button">
                    <a href="https://blog.mugenbatscha.me" target="_blank">
                        <i data-feather="globe"></i>
                        <p class="social-button-text">Blog</p>
                    </a>
                </div>
                <div class="social-button">
                    <a href="https://www.instagram.com/mugenbatscha/" target="_blank">
                        <i data-feather="instagram"></i>
                        <p class="social-button-text">Instagram</p> 
                    </a>
                </div>
                <div class="social-button">
                    <a href="https://twitter.com/mugenbatscha" target="_blank">
                        <i data-feather="twitter"></i>
                        <p class="social-button-text">Twitter</p>
                    </a>
                </div>
                <div class="social-button">
                    <a href="https://github.com/lauwarm" target="_blank">
                        <i data-feather="github"></i>
                        <p class="social-button-text">Github</p>
                    </a>
                </div>
                <div class="social-button">
                    <a href="https://www.twitch.tv/mugenbatscha" target="_blank">
                        <i data-feather="twitch"></i>
                        <p class="social-button-text">Twitch</p>
                    </a>
                </div>
            </div>
        </div>

        <script src="bundle.js"></script>

        <script>
            feather.replace()
        </script>

    </body>
</html>