// Default
$primary: #ddb9a6;

// Theme Day
$day-background: #f6eeea;
$day-text: #000;
$day-background-social-button: #000;
$day-a: #ddb9a6;

// Theme Night
$night-background: #494f5c;
$night-text: #fff;
$night-background-social-button: #fff;
$night-a: #ddb9a6;