*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-display: swap;
    box-sizing: border-box;
}

body {
    font-size: 2rem;
    background-color: $day-background;
    color: $day-text;
    //-webkit-font-smoothing: antialiased;
    //-moz-osx-font-smoothing: grayscale;
    transition: 0.5s linear;
}

a {
    all: unset;
    //width: 15rem;
    transition: 0.5s linear;
    &:hover {
        color: $primary;
    }
}

p {
 //   margin: 1.6rem;
    //line-height: 1.4em;
/*
    &:last-of-type {
        margin-bottom: 0;
    }
  */  
  all: unset;
  
}

h1, h2 {
    margin-bottom: 4rem;
    max-width: 100%;
    line-height: 1.1em;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.title {
    cursor: default;
    transition: 0.5s linear;
}

.social {
    color: $day-background-social-button;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 1rem;
}

.social-button {
    all: inherit;
}

.social-button-icon {
    all: inherit;
}

.social-button-text {
    margin-left: 25px;
}

@media (prefers-color-scheme: light) {
    body {
        background-color: $day-background;
    }
    .title {
        color: $day-text;
    }
    .social-button {
        color: $day-background-social-button;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: $night-background;
    }
    .title {
        color: $night-text;
    }
    .social-button {
        color: $night-background-social-button;
    }
}