*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-display: swap;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    background-color: $subtleBg;
    color: $defaultFont;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    all: unset;
    width: 15rem;
    transition: 0.5s linear;
    &:hover {
        color: $primary;
    }
}

p {
    margin: 2rem 0;
    line-height: 1.4em;

    &:last-of-type {
        margin-bottom: 0;
    }
    all: unset;
    margin-left: 1rem;
}

h1, h2 {
    margin-bottom: 4rem;
    max-width: 100%;
    line-height: 1.1em;
}
/*
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        text-align: center;
    }
}
*/
/*
.full-sized {
    height: 100vh;
    width: 100%;

    img {
        max-width: 200px;
    }
}
*/
.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.title {
    cursor: default;
}

.social-button {
    color: $defaultFont;
   // background-color: $day-background-social-button;
    cursor: pointer;
//    width: 15rem;
    margin: 1rem;
//    padding: 1rem;
}

@media (prefers-color-scheme: light) {
    body {
        background-color: $day;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: $night;
    }
}